@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

@theme {

  --font-opensans: "Open Sans", sans-serif;
  --font-noto: "Noto Serif Display", serif;
}
